<Button @push={{this.push}}>
  log me
</Button>

<Button @push={{this.compoundPush}}>
  Compouned Action
</Button>

<Button @push={{this.bananaAction}}>
  Banana Action
</Button>

<Button @push={{this.bananaCommander}}>
  Banana Commander
</Button>

<hr />

Counter: {{this.counterValue}}

<Button @push={{this.incrementCounter}}>+</Button>
<Button @push={{this.decrementCounter}}>-</Button>

<hr />

Cook a curry:

<Button @push={{fn @cookCurry 'green' }}>green</Button>
<Button @push={{fn @cookCurry 'yellow' }}>yellow</Button>
<Button @push={{fn @cookCurry 'red' }}>red</Button>

<hr />

Links to:

<Button @push={{link route='route-a' }}>Route A</Button> -
<Button @push={{this.navigateToB}}>Route B</Button> -
<Button @push={{this.navigateToC}}>Route C</Button> -
<Button @push={{this.logWhileNavigate}}>Route C + log</Button>